{% extends "base.html" %}

{% block title %}Confirm Password Page{% endblock %}

{% block content %}

  <div class="container mt-5">
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Change Password</h4>
                </div>
                <div class="card-body">
                   
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"  required>
                          </div>
                        
                        <div class="form-group">
                          <label for="password">Enter Password</label>
                          <input type="password" class="form-control" id="password" name="password" minlength=6 required>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" minlength=6 required>
                          </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </form>
                </div>
               
            </div>
        </div>
    </div>
</div>

{% endblock %}